@model List<Base.Infrastructure.Model.News>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div>
        <h3>News And Media Section</h3>
    </div>
    <div>
        <div>
            @foreach (var item in Model)
            {
                <article class="panel panel-body">
                    <h4><strong>@item.NewsHeadline</strong></h4>
                    <hr />
                    <p>@item.NewsDetails</p>
                </article>

            }
        </div>
    </div>
</div>


