@model List<BareboneFramework.Models.ImageListViewModel>
           
    <div class="panel panel-default">
        <div class="panel-heading">Categories</div>
        <div class="panel-body">
            <div class="list-group">
                @foreach (var item in Model)
                {
                    <a href="@Url.Action("Category", new { id=item.Id })" class="list-group-item"><strong>@item.Name</strong></a>
                }
            </div>    
        </div>
    </div>
