@{
    ViewBag.Title = "Home";
}
<div class="container middle">    
    <div class="home-slideshow col-center">
        <img src="img/Splash-Page-.png">
    </div>
    <div class="bottom-div">
        <div class="bottom-div-a col-md-4">

        </div>
        <div class="bottom-div-b col-md-4">

        </div>
        <div class="bottom-div-c col-md-4">

        </div>
    </div>

</div>
