@{
    ViewBag.Title = "Home";
}
<div class="container middle">    
    <div class="home-slideshow col-center">
    </div>
    <div class="bottom-div">
        <div class="col-md-4" id="bottom-div-a">

        </div>
        <div class="col-md-4" id="bottom-div-b">

        </div>
        <div class="col-md-4" id="bottom-div-c">

        </div>
    </div>

</div>
