@{
    ViewBag.Title = "Home";
}

<div class="row space-bottom">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="@Url.Content("~/Content/Images/E-card-jani-bg.png")" alt="..." width="100%" />
                <div class="carousel-caption">
                    First Image
                </div>
            </div>
            <div class="item">
                <img src="@Url.Content("~/Content/Images/Splash-Page-bg.png")" alt="..." width="100%" />
                <div class="carousel-caption">
                    First Image
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
<div class="row border-shade">
    <div class="col-md-4" style="height: 300px;">

        <h3 style="text-align:center;font-weight:bold;font-size:10pt;"><span><font><font class="">Hot News</font></font></span></h3>
        <div class="ja-box-ct clearfix" style="text-align:left;">
            <ul>
                <li id="contactSalesman" class="homeellipsis"><a href="/news/newsdetail.asp?id=74" target="_blank" title="Clifford Ya'an"><font><font>Clifford Ya'an</font></font></a></li>
                <li id="contactSalesman" class="homeellipsis"><a href="/news/newsdetail.asp?id=72" target="_blank" title="Turkey promoted the world's eighth-largest steel producer"><font><font class="">Turkey promoted the world's eighth-largest steel producer</font></font></a></li>
                <li id="contactSalesman" class="homeellipsis"><a href="/news/newsdetail.asp?id=71" target="_blank" title="Expo China Science and Technology Hardware City hotel supplies sales Huan"><font><font>Expo China Science and Technology Hardware City hotel supplies sales Huan</font></font></a></li>
                <li id="contactSalesman" class="homeellipsis"><a href="/news/newsdetail.asp?id=63" target="_blank" title="Guangzhou Jian Jun kitchen refrigeration equipment all my colleagues I wish you a happy New Year 2013!"><font><font>Guangzhou Jian Jun kitchen refrigeration equipment all my colleagues I wish you a happy New Year 2013!</font></font></a></li>
                <li id="contactSalesman" class="homeellipsis"><a href="/news/newsdetail.asp?id=55" target="_blank" title="Brazil to promote the metal kitchenware product technology and qualified certification requirements"><font><font>Brazil to promote the metal kitchenware product technology and qualified certification requirements</font></font></a></li>
            </ul>
        </div>
        <p align="right"><a href="/news/newslist.asp"><font><font>More &gt;&gt;&gt;</font></font></a></p>


    </div>
    <div class="col-md-4 border-shade2" style="height: 300px;">

    </div>

    <div class="col-md-4 border-shade2" style="height: 300px;">

        <div class="ja-moduletable moduletable  clearfix" id="Mod19">
            <h4><span>Sales Network</span></h4>
            <div class="ja-box-ct clearfix">

                <a href="/about.asp?id=44"><img src="http://www.junjianchina.com/images/market.gif"></a>


            </div>
        </div>



    </div>

</div>